.text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .message{
      border: 2px solid transparent;
  }
  .message:hover{
      border: 2px solid #000;
  }